<div class="row">
  <div class="alert alert-danger" role="alert" ng-show="error != null">{{error}}</div>
  <div class="col-xs-12 col-md-12">
    <h3>Users</h3>
    <span class="pull-right"><a href="#/users/new">New User</a></span>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <tr ng-repeat="user in users | orderBy: 'Name'">
            <td>{{user.Name | capitalize:true }}</td>
            <td>{{user.Email}}</td>
            <td> <button class="btn btn-danger btn-xs" ng-click="removeUser(user.Id)" aria-label="Remove">X</button> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
